@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');



body{
    margin:0;
    padding: 0;
    background: rgb(0,0,0);
background: linear-gradient(23deg, rgba(0,0,0,1) 0%, rgba(214,221,245,1) 100%);
height: 100vh;
}


.calculator{
   padding: 10px;
   border-radius: 1em;
   height: 75vh;
   width: 50%;
   margin:50px auto;
   background-color:#212A3E;
 box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.display-box{
    font-family: 'Orbitron', sans-serif;
    background-color: #dcdbe1;
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    width: 97%;
    height: 65%;
   
}
#btn {
    background-color: #e72e2e;
}

input[type=button]{
    font-family: 'Orbitron', sans-serif;
    background-color:#9BA4B5;
    color:white;
    border:solid black 0.5px;
    width: 100%;
    border-radius: 5px;
    height: 70%;
    outline: none;
}
.operator-btn{
    background-color:grey !important;
}
.eval-btn{
    background-color: #1e5dd1 !important;
}
input:active[type=button] {
    background: #6c0fe6;
    
    box-shadow: inset 0px 0px 5px #c1c1c1;
}
